{% block js %}
    {{ loadJSBS() }}
{% endblock %}

<link rel="stylesheet" type="text/css" href="{{ getUrl('css/base.css') }}">

{% block report_select %}
    {% if report_list %}
        <form method="post" action="{{ getUrl('interfaces/data_report.php') }}">
            <select name="report_index">
            {% for index,name in report_list %}
                <option value="{{ index }}">{{ name }}</option>
            {% endfor %}
            </select>
            <input type="submit" value="Submit"/>
        </form>
    {% else %}
        There are no reports set up in module settings for this project.
    {% endif %}
{% endblock %}

{% block data_table %}{% endblock %}